body,
html {
margin:0;
padding:0;
color:#000;
background:white;
font-family: "Arial";
}

#wrap {
width:auto;
margin:0 auto;
background:white;
}

#header {
background:white;
border-style: solid;
padding-left: 10px;
height: 30px;
}

h2, h1 {
  padding-left: 10px;
}

p {
  display: inline-block;
  margin: -.1px;
  padding-top: 6px;
}

button {
  float: right;
  margin-right: 10px;
}

#cart-btn {
  margin-top: 6px;
}
.container {
  display: flex;
  justify-content: flex-start;
}

#main {
width:700px;
}

th {
  text-align: left;
  padding: 10px 0px 10px 0px;
  padding-left: 20px;

}

td {
  padding-bottom: 10px;
  padding-left: 20px;
}

#sidebar {
width: 100px;
border-style: solid;
height: auto;
}

#sidebar-header {
  text-align: center;
  background: grey;
  padding: 1px 0px 1px 0px;
  border-bottom-style: solid
}


a:link {
    color: blue;
    text-decoration: none;
}


#footer {
  clear: both;
  background:#ddd;
  border-style: solid;
  height: 20px;
}
