body,
html {
margin:0;
padding:0;
color:#000;
background:#d33258;
}

#wrap {
width:750px;
margin:0 auto;
background:#d33258;
}

#header {
background:#ddd;
}

#main {
float:right;
width:600px;
background:#fcbdcc;
}
#sidebar {
float: left;
width: 150px;
background:#ff7c9b;
}
